<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        <span class="fs-4">Tools</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="{{ path('app_cosmos_export_delegations') }}" class="nav-link active" aria-current="page">
                <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"/></svg>
                Export delegations
            </a>
        </li>
        <li class="nav-item">
            <a href="{{ path('app_cosmos_accounts') }}" class="nav-link active" aria-current="page">
                <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"/></svg>
                Accounts
            </a>
        </li>
        <li class="nav-item">
            <a href="{{ path('app_cosmos_signer') }}" class="nav-link active" aria-current="page">
                <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"/></svg>
                Signer
            </a>
        </li>
        <li class="nav-item">
            <a href="{{ path('app_cosmos_upgrades_index') }}" class="nav-link active" aria-current="page">
                <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"/></svg>
                Cosmos Upgrades (ical)
            </a>
        </li>
        <li class="nav-item">
            <a href="{{ path('app_cosmos_grants_index') }}" class="nav-link active" aria-current="page">
                <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"/></svg>
                Wallet grants
            </a>
        </li>
    </ul>
    <hr>
    <div class="text-center">
        Powered by <a href="https://tedcrypto.io" target="_blank">Tedcrypto.io</a>
    </div>
</div>

<div class="b-example-divider b-example-vr"></div>