{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row" style="padding-top: 50px">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-12 col-md-10">
                        <h1>Export {{ exportDelegationsRequest.network }} (Height: {{ exportDelegationsRequest.height ?: 'latest' }})</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-10">
                        <b>Network: </b>{{ exportDelegationsRequest.network }}<br>
                        <b>Api Client: </b>{{ exportDelegationsRequest.apiClient ?: 'Random Public One' }}<br>
                        <b>Height: </b>{{ exportDelegationsRequest.height ?: 'latest' }}<br>
                        <b>Status: </b><span id="status-progress">{{ exportDelegationsRequest.status }}</span><br/>
                        {% if exportDelegationsRequest.status == constant('\\App\\Enum\\Export\\ExportStatusEnum::ERROR') %}
                            <b>Error: </b>{{ exportDelegationsRequest.error }}<br/>
                        {% endif %}
                        <b>Email: </b>{{ exportDelegationsRequest.email|default('n.a.') }}<br/>
                        <b>Created at: </b>{{ exportDelegationsRequest.createdAt|date('Y-m-d H:i:s') }}<br/>
                        <b>Updated at: </b>{{ exportDelegationsRequest.updatedAt|date('Y-m-d H:i:s') }}<br/>
                    </div>
                    <div class="col-sm-12">
                        {% if exportDelegationsRequest.status == constant('\\App\\Enum\\Export\\ExportStatusEnum::ERROR') %}
                            <a href="{{ path('app_cosmos_export_delegations_retry', {token: exportDelegationsRequest.token}) }}" class="btn btn-warning">
                                Retry
                            </a>
                        {% endif %}
                        {% if exportDelegationsRequest.status == constant('\\App\\Enum\\Export\\ExportStatusEnum::PENDING') %}
                            <a href="{{ path('app_cosmos_export_delegations_cancel', {token: exportDelegationsRequest.token}) }}" class="btn btn-danger">
                                Cancel
                            </a>
                        {% endif %}
                        {% if exportDelegationsRequest.status == constant('\\App\\Enum\\Export\\ExportStatusEnum::DONE') %}
                            <a href="{{ path('app_cosmos_export_delegations_download', {token: exportDelegationsRequest.token}) }}" class="btn btn-danger">
                                Download
                            </a>
                        {% endif %}
                    </div>
                    <div class="col-sm-12">
                        <br/>
                        <p>
                            Bookmark this page to follow the progress of the export and to download it later.
                        </p>
                        <p>
                            You can also save the token <code>{{ exportDelegationsRequest.token }}</code> to retrieve the export later.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts_footer %}
    <script>
        $(document).ready(function () {
            const url = '{{ path('app_cosmos_export_delegations_status', {token: exportDelegationsRequest.token}) }}';
            const $statusProgress = $('#status-progress');

            {% if exportDelegationsRequest.status != constant('\\App\\Enum\\Export\\ExportStatusEnum::DONE') %}
                const interval = setInterval(function () {
                    $.get(url, function (data) {
                        if (data.status === '{{ constant('\\App\\Enum\\Export\\ExportStatusEnum::DONE') }}') {
                            window.location.reload();
                        } else if (data.status === '{{ constant('\\App\\Enum\\Export\\ExportStatusEnum::PROCESSING') }}') {
                            $statusProgress.html('Processing... ('+data.percentage + '%)');
                        } else if (data.status === '{{ constant('\\App\\Enum\\Export\\ExportStatusEnum::ERROR') }}') {
                            clearInterval(interval);
                        }
                    });
                }, 5000);
            {% endif %}
        });
    </script>
{% endblock %}