{% extends 'base.html.twig' %}


{% block body %}
    <div class="container">
        <div class="row" style="padding-top: 50px">
            <div class="col-sm-12 col-lg-6">
                <div class="row">
                    <div class="col-sm-12">
                        <h2>Export delegations</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        {{ form_start(form) }}
                        {{ form_rest(form) }}
                        <div class="form-group pull-right">
                            <button type="submit" class="btn btn-primary">Request export</button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-lg-6">
                <div class="row">
                    <div class="col-sm-12">
                        <h2>Check your export</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <form name="check-export" id="check-export">
                            <div class="mb-3">
                                <label for="export-id">Export Token</label>
                                <input type="text" name="export-id" id="export-id" class="form-control" />
                            </div>
                            <div class="form-group pull-right">
                                <button type="submit" class="btn btn-primary">Check export</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts_footer %}
    <script>
        $(document).ready(function (e){
            const $networkChoice = $('#{{ form.network.vars.id }}');
            const $serverChoice = $('#{{ form.api_client.vars.id }}');
            const $customServer = $('#{{ form.custom_api_server.vars.id }}');

            $('#check-export').submit(function (e){
                e.preventDefault();
                var token = $('#export-id').val();

                window.location = {{ path('app_cosmos_export_delegations_show', {'token': '||token||'})|json_encode|raw }}.replace('||token||', token);
            });

            $networkChoice.change(function (e) {
                var value = $(this).val();
                $serverChoice.hide();
                $serverChoice.find('optgroup').hide();
                if (value) {
                    $serverChoice.show();
                    $serverChoice.find('optgroup[label="'+value+'"]').show().find('option').first().prop('selected', true);
                }
            }).trigger('change');

            $serverChoice.change(function (e) {
                $customServer.parent().hide();
                if ($(this).val().indexOf('custom') === 0) {
                    $customServer.parent().show();
                }
            }).trigger('change');
        });
    </script>
{% endblock %}