{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row" style="padding-top: 50px">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-12">
                        <h2>Cosmos Grants</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        {{ form_start(form, {
                            attr: {
                                'id': 'js-grant-form'
                            }
                        }) }}
                        {{ form_errors(form) }}
                        {{ form_rest(form) }}
                        <div class="form-group pull-right">
                            <button type="submit" class="btn btn-primary">List grants</button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
            {% if listGrants is not empty %}
                <div class="col-sm-12">
                    <table class="table table-striped">
                        <thead>
                            <th>Grantee</th>
                            <th>Granter</th>
                            <th>Authorization</th>
                            <th>Expire at</th>
                            <th></th>
                        </thead>
                        <tbody>
                            {% for grant in listGrants.grants %}
                                <tr>
                                    <td>{{ grant.grantee }}</td>
                                    <td>{{ grant.granter }}</td>
                                    <td>{{ grant.authorization.type }} {{ grant.authorization.getMsg }}</td>
                                    <td>{{ grant.expiration }}</td>
                                    <td>
                                        <button
                                                class="btn btn-danger"
                                                id="js-revoke-btn"
                                                data-grantee="{{ grant.grantee }}"
                                                data-granter="{{ grant.granter }}"
                                                data-type="{{ grant.authorization.type }}"
                                                data-msg="{{ grant.authorization.getMsg }}"
                                        >Revoke</button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}